@import "~@angular/material/prebuilt-themes/purple-green.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,body {
    height: 100vh;
    display: flex;
    background-color: #333;
	color: #98959a;
	font-family: Roboto;
	font-size: 14px;
	width: 100%;
	overflow-x: hidden;
}
.background {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
	z-index: 0;
	filter: opacity(.5);
}
components-home {
	width: 100%;
}
components-list-item {
	display: flex;
	flex-direction: column;
	width: 100%;
}
app-root, components-register, components-list, app-project-page {
	width: 100%;
}
p {
    margin-top: 0;
	margin-bottom: 0 !important;
}
#background-color {
	background-color:rgba(46, 46, 46, 0.8);
	width:50%;
}
#root {
	display: flex;
	width: 100%;
}

#left-column {
	width:45%;
	height:82%;
	float:left;
	border-right:1px solid #7e7e7e;
	margin:32px 0 0 0;
}
#right-column {
	width:54%;
	height:100%;
	float:right;
}
#nav-module-header {
	color: #bfbfbf
}
#page-block-title {
	color: #afafaf
}
#logo-block-bg-color {
	background-color: #558B2F
}
#register-logo-block-color {
	background-color: #689F38
}
.login-register-text-box {
	display: block !important;
}
.error {
	font-size: 10pt;
	height: 15px;
	margin-right: 25px;
	color: #F44336;
	text-transform: capitalize;
}
.logo-block {
	width:90px;
	height:76px;
	color:white;
	font-size:43pt;
	text-align: center;
	margin:25px auto;
	padding-top:14px;
}
.logo-block::before {
	content: "DA"
}
.not-header-text-color {
	color:#95989a;
	font-size:12pt;
	font-weight:300;
	text-decoration-line: none
}
.login-register-form-container {
	margin: 80px 60px 0px 50px;
	/* color:white */
}
.path {
	color:#558b2f;
	text-align:left;
	font-size:9pt;
	display:block;
	font-weight: bolder;
	text-transform: uppercase;
}
.splash-block {
	width: 220px;
	height:7px;
	display: flex;
	flex-direction: column;
}
.splash-block-container {
	display: flex;
	max-height: 305px;
	margin: 100px auto;
    justify-content: center;
	align-items: center;
	background-color: rgba(55, 55, 55, 1);
	box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
}
.splash-app-name {
	color:white;
	/* margin-top:45px;
	margin-right:91px; */
	margin-top: 11px;
	font-size:16pt
}
.splash-app-description {
	/* color:  #98959A; */
	color: rgba(255, 255, 255, 0.7);
	font-size: 14pt;
	margin-top:3pt;
	/* display: block;
	margin: 0px auto; */
	text-align: center;
	margin-bottom: 12px;
}
.splash-app-img {
	/* float:left; */
	display: block;
	margin: 20px auto;
}

@media (max-height: 735px) {
	app-home-root {
		width: 100%;
		max-width: 735px;
	}
	.mobile-only {
		display: block !important;
	}
	.mobile-hide {
		display: none !important;
	}
	#button-text-style {
		text-transform: uppercase;
		font-weight:700;
		width:261px;
		margin:8px auto;
		margin-bottom: 15px;
	}
}
@media (min-height: 950px) {
	app-home-root {
		width: 100%;
		min-width: 646px;
		max-width: 985px;
	}
	.mobile-only {
		display: none !important;
	}
	#button-text-style {
		text-transform: uppercase;
		font-weight:700;
		width:346px;
		margin:8px auto;
		margin-bottom: 15px;
	}
}
