.nav-links {
    display: grid;
    margin: 12px auto;
	font-size: 16pt;
	color:white;
	padding-left: 24.5px;
}
.home-page-button {
	flex: 1;
    margin-top: 7px;
    margin-left: 30px;
	min-height: 32px;
	display: block;
	margin: 0px auto;
}
.home-item-title {
    font-size: 16pt;
    display: block;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 6px;
}
.home-item-description {
	color: #515151;
	display: block;
	text-align: center;
}
.home-item-details {
	display: block;
	margin-bottom: 20px;
}
.grid-row-1 {
	grid-row: 1;
	padding-top: 10px;
	margin-top: 10px;
}
.grid-row-1:hover {
	background-color: #1d1d1d;
	cursor: pointer;
}
.grid-row-2 {
	grid-row: 2;
	padding-top: 10px;
	margin-bottom: 10px;
}
.grid-row-2:hover {
	background-color: #1d1d1d;
	cursor: pointer;
}
.grid-column-1 {
	grid-column: 1
}
.grid-column-2 {
	grid-column: 2;
	margin-right: 25px;
}
.search-cmd-box-container {
    width: 100%;
    /* align-self: flex-start; */
}
.search-cmd-box {
    background-color: #1d1d1d;
    width: 60%;
    height: 40px;
	margin: 40px auto;
}
.home-container {
	display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}