<div class="project-page-root proper-width">
	<!-- <div id="mem-usage-chart"></div> -->
	<mat-tab-group dynamicHeight="true" animationDuration="0ms" mat-align-tabs="center">
		<mat-tab label="Service Information">
			<!-- <div class="top-stat-card-container">
				<mat-card class="stat-card">
					<mat-card-header>
						<mat-card-title>Memory Use</mat-card-title>
					</mat-card-header>
					<mat-card-content >
						<app-chart></app-chart>
					</mat-card-content>
				</mat-card>
				<mat-card class="stat-card">
					<mat-card-header>
						<mat-card-title>Disk Use</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<p class="stat">projects</p>
					</mat-card-content>
				</mat-card>
				<mat-card class="stat-card">
					<mat-card-header>
						<mat-card-title>Projects</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<p class="stat">projects</p>
					</mat-card-content>
				</mat-card>
			</div> -->
			<mat-accordion class="align-descriptions">
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>Service Icon:</mat-panel-title>
						<mat-panel-description>
							<img [src]="getServiceIconURL(currentServiceName)" width="24" height="24" />
						</mat-panel-description>
					</mat-expansion-panel-header>
					<span class="upload-control">
						<input hidden type="file" #icon required (change)="setFile('icon', $event)">
						<button type="button" style="display:inline;" mat-mini-fab color="primary" (click)="icon.click()">
							<mat-icon>cloud_upload</mat-icon>
						</button>
						<mat-form-field class="upload-box upload-box-width">
							<input matInput placeholder="Icon filename" name="IconName" [value]="iconName" disabled required>
						</mat-form-field>
					</span>
					<mat-action-row>
						<button mat-button color="primary" (click)="save('icon')">Save</button>
					</mat-action-row>
				</mat-expansion-panel>
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>Service Name:</mat-panel-title>
						<mat-panel-description>{{currentServiceName}}</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-form-field style="width:400px;">
						<input matInput placeholder="New service name" [(ngModel)]="currentServiceName">
					</mat-form-field>
					<mat-action-row>
						<button mat-button color="primary" (click)="save('name')">Save</button>
					</mat-action-row>
				</mat-expansion-panel>
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>Service File Name:</mat-panel-title>
						<mat-panel-description>{{currentFileName}}</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-form-field style="width:400px;">
						<input matInput placeholder="New service filename" [(ngModel)]="currentFileName">
					</mat-form-field>
					<mat-action-row>
						<button mat-button color="primary" (click)="save('filename')">Save</button>
					</mat-action-row>
				</mat-expansion-panel>
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>API Name:</mat-panel-title>
						<mat-panel-description>{{currentServiceAPIName}}</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-form-field style="width:400px;">
						<input matInput placeholder="New API name" [(ngModel)]="currentServiceAPIName">
					</mat-form-field>
					<mat-action-row>
						<button mat-button color="primary" (click)="save('apiName')">Save</button>
					</mat-action-row>
				</mat-expansion-panel>
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>Service ID:</mat-panel-title>
						<mat-panel-description>{{currentServiceID}}</mat-panel-description>
					</mat-expansion-panel-header>
				</mat-expansion-panel>
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>Service Key:</mat-panel-title>
						<mat-panel-description>*********</mat-panel-description>
					</mat-expansion-panel-header>
					<p *ngIf="this.currentServiceKey != ''" class="service-key-label">New Service Key: </p>
					<p *ngIf="this.currentServiceKey != ''" class="service-key">{{currentServiceKey}}</p>
					<mat-action-row>
						<button mat-button color="primary" (click)="save('skey')">Reset Key</button>
					</mat-action-row>
				</mat-expansion-panel>
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>Trinity Auth Redirect URL:</mat-panel-title>
						<mat-panel-description>{{currentARURL}}</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-form-field style="width:400px;">
						<input matInput placeholder="New Auth Redirect URL" [(ngModel)]="currentARURL">
					</mat-form-field>
					<mat-action-row>
						<button mat-button color="primary" (click)="save('redirect')">Save</button>
					</mat-action-row>
				</mat-expansion-panel>
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>Local Address:</mat-panel-title>
						<mat-panel-description>{{currentLocalAddress}}</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-form-field style="width:400px;">
						<input matInput placeholder="New Local Address" [(ngModel)]="currentLocalAddress">
					</mat-form-field>
					<mat-action-row>
						<button mat-button color="primary" (click)="save('localaddr')">Save</button>
					</mat-action-row>
				</mat-expansion-panel>
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>Auto Process Management</mat-panel-title>
						<mat-panel-description>
							<span *ngIf="this.isCurrentServiceManaged">Enabled</span>
							<span *ngIf="!this.isCurrentServiceManaged">Disabled</span>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-checkbox [(ngModel)]="this.isCurrentServiceManaged">
						<span *ngIf="!this.isCurrentServiceManaged">Enable</span>
						<span *ngIf="this.isCurrentServiceManaged">Disable</span>
					</mat-checkbox>
					<mat-action-row>
						<button mat-button color="primary" (click)="save('managed')">Save</button>
					</mat-action-row>
				</mat-expansion-panel>
				<mat-expansion-panel class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>Vault Integration</mat-panel-title>
						<mat-panel-description>
							<span *ngIf="this.enableVaultIntegration">Enabled</span>
							<span *ngIf="!this.enableVaultIntegration">Disabled</span>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-checkbox [(ngModel)]="this.enableVaultIntegration">
						<span *ngIf="!this.enableVaultIntegration">Enable</span>
						<span *ngIf="this.enableVaultIntegration">Disable</span>
					</mat-checkbox>
					<mat-action-row>
						<button mat-button color="primary" (click)="save('vault')">Save</button>
					</mat-action-row>
				</mat-expansion-panel>

			</mat-accordion>
		</mat-tab>
		<mat-tab label="Update Service">
			<div style="background-color:#3a3a3a;padding-top:20px;">
				<div style="padding-bottom:20px;">
					<span class="upload-control">
						<input style="display:none;" type="file" #serviceFile required (change)="setFile('service', $event)">
						<button type="button" style="display:inline;" mat-mini-fab color="primary" (click)="serviceFile.click()">
							<mat-icon>cloud_upload</mat-icon>
						</button>
						<mat-form-field class="upload-box upload-box-width">
							<input matInput placeholder="Service File" name="ServiceName" [value]="s.filename" disabled required>
						</mat-form-field>
					</span>
					<span class="upload-control">
						<input hidden type="file" #ui required (change)="setFile('ui', $event)">
						<button type="button" style="display:inline;" mat-mini-fab color="primary" (click)="ui.click()">
							<mat-icon>cloud_upload</mat-icon>
						</button>
						<mat-form-field class="upload-box upload-box-width">
							<input matInput placeholder="ZIP containing UI files" name="ServiceName" [value]="uiFilesName" disabled required>
						</mat-form-field>
					</span>
				</div>
				<mat-action-row>
					<mat-chip-list *ngIf="show">
						<mat-chip style="background-color:white" *ngIf="success">
							<mat-icon style="color:#2E7D32">check_circle</mat-icon>
							<span style="color:black;">Success</span>
						</mat-chip>
						<mat-chip style="background-color:white" *ngIf="success == false">
							<mat-icon style="color:#C62828">cancel</mat-icon>
							<span style="color:black;" matTooltip="{{lastError}}">Failed</span>
						</mat-chip>
					</mat-chip-list>
					<button mat-button color="primary" (click)="upload()">Upload</button>
				</mat-action-row>
			</div>
		</mat-tab>
		<mat-tab label="Route Aliases">
			<mat-accordion class="align-descriptions">
				<mat-expansion-panel *ngFor="let r of this.apiRouteAliases" class="detail-block">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<p class="section-header-text">{{r}}</p>
						</mat-panel-title>
					</mat-expansion-panel-header>
					<mat-list>
						<mat-list-item *ngFor="let er of getExtraRoutes(r)">
							<span class="route-item">
								<p class="route-item-title">{{er}}</p>
								<button class="route-item-button" mat-icon-button (click)="deleteAlias(er, r)">
									<mat-icon>delete</mat-icon>
								</button>
							</span>
						</mat-list-item>
					</mat-list>
				</mat-expansion-panel>
			</mat-accordion>
			<mat-action-row>
				<button mat-button color="primary" (click)="showNewAliasDialog()">New Alias</button>
			</mat-action-row>
		</mat-tab>
	</mat-tab-group>
</div>