.mat-table {
  overflow: auto;
  max-height: 500px;
}
mat-cell.mat-cell, mat-header-cell.mat-header-cell { overflow: visible; }
.save-status {
	top: 45px;
	/* left: 1200px; */
	right: 110px;
    position: absolute;
	display: inline-block;
	text-transform: capitalize;
	color: #FFB300;
}
