@media(min-height: 919px) {
	.proper-width {
		width: 58vw;
	}
}
@media(max-height: 677px) {
	.proper-width {
		width: 56.36vw;;
	}
}
.project-page-root {
    padding: 5px 40px 20px 40px
}
.login-register-text-box {
	display: block !important;
	color: white;
	margin-left: 30px;
	margin-right: 50px;
}
.group-header {
	padding:20px 20px 20px 0px;
	background-color:#1d1d1d;
	margin-right:0px;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
.toolbar {
	height: 50px !important;
    padding: 0px !important;
	background-color: #404040 !important;

}
.toolbar-button {
	text-transform: uppercase;
}
mat-cell.mat-cell, mat-header-cell.mat-header-cell { overflow: visible; }
.save-status {
	top: 45px;
	/* left: 1200px; */
	right: 110px;
    position: absolute;
	display: inline-block;
	text-transform: capitalize;
	color: #FFB300;
}
